{% if site.theme_settings.email_address %}
<li>
	<a href="mailto:{{ site.theme_settings.email_address }}" title="{{ site.theme_settings.str_email }}">
		<i class="fas fa-fw fa-envelope"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.facebook %}
<li>
	<a href="https://www.facebook.com/{{ site.theme_settings.facebook }}" title="{{ site.theme_settings.str_follow_on }} Facebook">
		<i class="fab fa-fw fa-facebook"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.github %}
<li>
	<a href="https://github.com/{{ site.theme_settings.github }}" title="{{ site.theme_settings.str_follow_on }} GitHub">
		<i class="fab fa-fw fa-github"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.instagram %}
<li>
	<a href="http://instagram.com/{{ site.theme_settings.instagram }}" title="{{ site.theme_settings.str_follow_on }} Instagram">
		<i class="fab fa-fw fa-instagram"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.linkedin %}
<li>
	<a href="{{ site.theme_settings.linkedin }}" title="{{ site.theme_settings.str_follow_on }} LinkedIn">
		<i class="fab fa-fw fa-linkedin"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.stack_exchange %}
<li>
	<a href="{{ site.theme_settings.stack_exchange }}" title="{{ site.theme_settings.str_follow_on }} Stack Exchange">
		<i class="fab fa-fw fa-stack-exchange"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.steam %}
<li>
	<a href="http://steamcommunity.com/id/{{ site.theme_settings.steam }}" title="{{ site.theme_settings.str_follow_on }} Steam">
		<i class="fab fa-fw fa-steam"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.gitlab %}
<li>
	<a href="https://gitlab.com/{{ site.theme_settings.gitlab }}" title="{{ site.theme_settings.str_follow_on }} Gitlab">
		<i class="fab fa-fw fa-gitlab"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.youtube %}
<li>
	<a href="https://www.youtube.com/user/{{ site.theme_settings.youtube }}" title="{{ site.theme_settings.str_follow_on }} YouTube">
		<i class="fab fa-fw fa-youtube"></i>
	</a>
</li>
{% endif %}
